html {
	background-image: url(images/paint.jpg), url(images/header.png);
}
body {
	background-color: #f9f9f9;
    margin: auto;
    width: 80%;
    padding: 50px;
    min-height: 1000px;
}
h1 {
    color: #;
    text-align: center;
}
a {
    text-decoration: none;
    color: #011f6d;
    font-weight: bold;
    padding: 10px;
}
h1,h2, h3 {
    font-family: serif;
}
p, a {
    font-family: sans-serif;
}
li {
	color: #f9f9f9;
	text-decoration: none;
	background-color: #1C6C86;
}