doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description', content='Meeting Calendar')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Calendar
    link(rel='stylesheet', type='text/css', href='main.css')
  body
    #wrapper
      table#output
  script(type='text/javascript', src='calendar.js')